*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin-inline: 140px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  isolation: isolate;
  background-image: url(/dekor.svg);
  background-repeat: no-repeat;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #A729F5;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  background-color: #A729F5;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle {
  display: flex;
  gap: 16px;
  margin-block: 80px;
  margin-bottom: 70px;
  justify-content: flex-end;
}

.darksun,
.darkMoon {
  display: none;
}

body.dark {
  background-color: var(--Dark-Navy, rgba(49, 62, 81, 1));
}

.dark {
  #root {
    background-image: url(/img/dekordark.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
  }

  .darksun,
  .darkMoon {
    display: inherit;
  }

  .lightsun,
  .lightmoon {
    display: none;
  }

  .title h1 {
    color: #FFFFFF;
  }

  .title p {
    color: #ABC1E1;
  }

  .quizPageBtns a:not(.submitBtn) {
    background-color: #3B4D66;
    box-shadow: 0px 16px 40px 0px #313E5124;
    color: #FFFFFF;
  }

  .activeQuestionPart h1 {
    color: #FFFFFF;
  }

  .quizPageHeader h1 {
    color: var(--Pure-White, rgba(255, 255, 255, 1));
  }

  .scoreCompletedPart h1 {
    color: #fff;
  }
}

.quizSelectionContainer {
  display: flex;
  gap: 130px;
}

.quizSelections a {
  width: 564px;
  display: flex;
  gap: 32px;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 16px 40px 0px #8FA0C124;
  border: transparent;
  padding: 20px;
  border-radius: 24px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 28px;
  color: #313E51;
  line-height: 28px;
  cursor: pointer;
  text-decoration: none;
}

.quizSelections a:hover {
  box-shadow: 0px 16px 40px 0px #A729F5;
}

.title {
  h1 {
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 20px;
    color: #313E51;
  }

  p {
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #626C7F;
  }
}

.quizPage {
  display: flex;
  gap: 130px;
  justify-content: space-evenly;

  h1 {
    font-size: 36px;
    color: rgb(49, 62, 81);
    line-height: 43.2px;
    font-weight: 500;
  }
}

.quizPageBtns {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  button:not(.submitBtn) {
    width: 564px;
    padding: 20px;
    text-align: left;
    background-color: #FFFFFF;
    border: transparent;
    border-radius: 24px;
    box-shadow: 0px 16px 40px 0px #8FA0C124;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    color: #313E51;
    cursor: pointer;
  }

  .submitBtn {
    width: 564px;
    background-color: #A729F5;
    padding: 32px;
    box-shadow: 0px 16px 40px 0px #8FA0C124;
    border: transparent;
    border-radius: 24px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
  }

  .submitBtn:hover {
    background-color: rgb(211, 148, 250);
}
}